<footer>
    <ul>
        <li><a href="http://clestophe.com/">clestophe</a></li>
        <li><a href="http://acces-sit.com/">acces-sit</a></li>
        <li><a href="http://bache-plus.fr/">bache-plus</a></li>
    </ul>
</footer>
