<footer>
    <ul>
        <a href="http://clestophe.com/"><li>clestophe</li></a>
        <a href="http://acces-sit.com/"><li>acces-sit</li></a>
        <a href="http://bache-plus.fr/"><li>bache-plus</li></a>
    </ul>
</footer>
