<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{% block title %}Planning Atelier {% endblock %}</title>
    <meta aria-roledescription="planning">
    <link rel="icon" type="image/x-icon" href="{{ asset('img/logo-vecto-clestophe.png') }}" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.material.mobile.min.css" />
    <link rel="stylesheet" href="{{ asset('styles/screen.css') }}">
    {% block stylesheets %}{% endblock %}

</head>
<body>
{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    {% include "partials/_footer.html.twig" %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>
<script src="https://kendo.cdn.telerik.com/2018.2.620/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.all.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- dataTables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% block javascripts %}
{% endblock %}

{% block deg_widget %}
{% endblock %}
</body>
</html>
