<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}hgcg,jhv{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {#<header>#}
                {#<nav>#}
                    {#<ul>#}
                        {#<li>kgklb</li>#}
                        {#<li>hsndnc</li>#}
                        {#<li>sddvsq</li>#}
                        {#<li>fdvqd</li>#}
                        {#<li>dfqvdf</li>#}
                    {#</ul>#}
                {#</nav>#}
            {#</header>#}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
