@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Playball');

*,
*:before,
*:after {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

* {
    margin: 0;
    padding: 0;
}

/*==========================HEADER===========================*/
body {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 20px;
    font-family: AppleGothic, sans-serif;
    font-weight: bold;
    width: 45%;
    margin: 5%;
    text-transform: uppercase;
}

th, td {
    text-align: center;
    border: 1px solid black;
}

tr {
    height: 30px;
}

table {
    margin: 3% auto 5%;
    border-collapse: collapse;
    width: 90%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.fc-toolbar h2 {
    width: 100%;
}

header {
    width: 100%;
    height: auto;
    font-weight: bold;
}

header img {
    margin: 3% 0 1% 50%;
    transform: translateX(-50%);
    width: 7%;
}

header img.acces {
    width: 15%;
    margin-top: 0;
}

nav {
    background-color: #c9046b;
    margin: 2% auto;
    width: 100%;
    height: auto;
}

nav .uls {
    text-align: center;
    border: 1px solid #000000;
    box-shadow: 10px 5px 5px black;
    width: 100%;
    display: flex;
}

nav .uls li {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    padding: 10px;
    position: relative;
    border-right: 1px solid #000000;
    width: 100%;
    color: #ffffff;
}

nav .uls li:nth-child(3) {
    border-right: none;
}

nav ul li.lis {
    border: 1px solid #000000;
    text-transform: none;
    background: #aaaaaaa6;
    font-size: 12px;
}

nav ul li a {
    padding: 10px 163px;
    cursor: pointer;
    color: #000000;
}

nav .uls ul {
    position: absolute;
    visibility: hidden;
    left: 0;
    width: 100%;
    z-index: 99999;
}

nav ul li:hover ul {
    visibility: visible;
    width: 100%;
    top: 39px;
}

nav .lis:hover {
    background: #c9046b;
}

nav li a:hover {
    color: #ffffff;
}

/*============================Main========================*/

main h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 10% 0;
    text-align: center;
}

/*========================Main Consulter le plannig==============*/

#calendar-holder {
    width: 90%;
    margin: 8% auto 3%;
    height: auto;
}

/*======================Main Connexion===========*/

#main {
    margin: 0;
}

.invalid {
    margin: 6% 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

#main form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10% 0 12%;
}

#main .group {
    position: relative;
    margin-bottom: 45px;
}

#main input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    /*display: block;*/
    width: 300px;
    border: none;
    border-bottom: 1px solid #777777;
}

#main form input:focus {
    outline: none;
}

/*#main .checkpass #rounded {*/
/*width: 20%;*/
/*}*/

#main .checkpass {
    /*display: flex;*/
    /*margin-top: 2%;*/
}

form .group label {
    color: #777777;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

#main form input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #c9046b;
}

#main .bar {
    position: relative;
    display: block;
    width: 300px;
}

#main .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #c9046b;
    transition: 0.2s ease all;
}

#main .bar:before {
    left: 50%;
}

#main .bar:after {
    right: 50%;
}

#main form input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

#main .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

#main form input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

[data-wipe] {
    padding: 12px 18px;
    text-decoration: none;
    position: relative;
    border: 2px solid #c9046b;
    font-size: 20px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #c9046b;
    overflow: hidden;
}

[data-wipe]:before, [data-wipe]:after {
    content: attr(data-wipe);
    padding-top: inherit;
    padding-bottom: inherit;
    white-space: nowrap;
    position: absolute;
    top: 0;
    overflow: hidden;
    color: #F1F1F2;
    background: #c9046b;
}

[data-wipe]:before {
    left: 0;
    text-indent: 18px;
    width: 0;
}

[data-wipe]:after {
    padding-left: inherit;
    padding-right: inherit;
    left: 100%;
    text-indent: calc(-100% - 36px);
    transition: 0.8s ease-in-out;
}

[data-wipe]:hover:before {
    width: 100%;
    transition: width 0.8s ease-in-out;
}

[data-wipe]:hover:after {
    left: 0;
    text-indent: 0;
    transition: 0s 0.8s ease-in-out;
}

/*========================Main Planification Commande========================*/

#main-planification-commande, #section-details-commandes {
    width: 100%;
}

#main-planification-commande .ebp2, .table-2-submit {
    cursor: pointer;
    margin-left: 5%;
    padding: 7px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 5px #999;
    background: #c9046b;
    text-transform: uppercase;
    margin-right: 5%;
}

#main-planification-commande .ebp2:active {
    background-color: #aaaaaa;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#main-planification-commande .ebp2 a {
    color: #ffffff;
    padding: 10% 0 10%;
}

#main-planification-commande .checkpass {
    width: 20%;
}

#main-planification-commande .edit-img {
    width: 12%;
    float: right;
    margin: 0 2%;
}

#main-planification-commande .trgrey, #section-details-commandes .trgrey, #saisi-de-temps .trgrey, #saisi-de-temps-details .trgrey, #saisi-de-temps-par-articles .trgrey, #saisi-de-temps-par-articles .trgrey {
    background: #aaaaaaa6;
}

#main-planification-commande .planif-button-h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    margin-right: 5%;
}

.pagination {
    width: 100%;
    font-size: 15px;
}

.pagination a {
    color: #F1F1F2;
    border: 1px solid black;
    padding: 8px 16px;
    transition: background-color .3s;
}

.pagination a:hover {
    background-color: #c9046b;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#main-planification-commande .nav-pag, .list-pag, #saisi-de-temps .nav-pag {
    text-align: right;
}

#section-details-commandes .edit-img {
    width: 45%;
}

#main-planification-commande .customer-name {
    width: 0;
}

#main-planification-commande .title-search {
    display: flex;
    align-items: center;
    background: #faf2cc;

}

/*===================Detail-commandes========================*/
#section-details-commandes .plan {
    width: 12%;
}

#section-details-commandes p {
    margin: 0 10%;
    font-size: 20px;
    font-family: AppleGothic;
    font-weight: 500;
}

#section-details-commandes h2 {
    margin: 5%;
    width: 100%;
}

#section-details-commandes .details-button-h2, #saisi-de-temps-details .details-button-h2, #saisi-de-temps-par-articles .details-button-h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

#section-details-commandes .button-page, .button-val, #saisi-de-temps-details .button-page, #saisi-de-temps-par-articles .button-page {
    padding: 7px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 5px #999;
    background: #c9046b;
    text-transform: uppercase;
}

.button-page:active, .button-val:active {
    background-color: #aaaaaa;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#section-details-commandes .valid {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

/*#section-details-commandes form , #saisi-de-temps-details form, #saisi-de-temps-par-articles form{*/
/*margin-right: 5%;*/
/*}*/

#section-details-commandes th:nth-child(1), th:nth-child(4) {
    width: 10%;
}

/*========================= Planif Produits ============================*/

#planif-produits .entete, .detail_container, .tab_content, .pp, .span-item-sale, .planif-produits-comments, .planif-produits-validate {
    width: 88%;
}

#planif-produits .entete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

}

#planif-produits .entete h2 {
    margin: 2% 0;
    font-weight: bold;
}

#planif-produits .detail_container {
    margin: 0 auto;
    font-weight: bold;
}

#planif-produits .tabs {
    display: flex;
    /*align-items: center;*/

}

#planif-produits .tabs li {
    margin: 0;
    width: 100%;
    line-height: 31px;
    border-left: 1px solid #333;
    background: #aaaaaaa6;
    color: #333;
    position: relative;
    font-size: 10px;
    text-align: center;
}

#planif-produits .tabs li:first-child {
    border-left: none;
}

/*#planif-produits .tabs li:hover {*/
    /*background-color: #aaaaaaa6;*/
    /*color: #333;*/
/*}*/

#planif-produits .tabs li.active {
    /*background-color: #fff;*/
    /*color: #333;*/
    background-color: #C9046B;
    color: #ffffff;
    display: block;
}

#planif-produits .tab_container {
    width: 100%;
    background: #fff;
    overflow: auto;
}

#planif-produits .tab_content {
    margin: 2% auto;
    padding: 1%;
}

#planif-produits .tab_content_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#planif-produits .tab_content_container-para, td {
    font-weight: bold;
    font-size: 13px;
}

#planif-produits .tab_content__container-area {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
}

#planif-produits .planif-produits-comments textarea {
    font-size: 16px;
}

#planif-produits #valide-time {
    height: 22px;
    padding: 0 11px;
    box-shadow: 5px 5px 8px 1px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
    font-size: 10px;
}

#planif-produits .time:nth-last-child(3) {
    margin-left: 14.9em;
}

#planif-produits .time {
    margin-left: 1%;
    font-size: 12px;
}

#planif-produits .time, #valide-time, textarea, .tab_content, .tabs {
    border: 2px solid;
}

#planif-produits .button__subm-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#planif-produits .button__subm-form .subm {
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 5px #999;
    background: #c9046b;
    text-transform: uppercase;
    font-weight: bold;
}


#planif-produits .tab__content_label label {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    color: #c9046b;
}

#planif-produits .tab__content_label input {
    margin-right: 10px;
}

#planif-produits .pp {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;

}

#planif-produits .pp p {
    font-size: 20px;
    font-family: AppleGothic;
    font-weight: bold;
    text-transform: uppercase;
}

#planif-produits .area {
    width: 100%;
}

#planif-produits .area .lab-area {
    text-align: right;
    margin: 2% 15% 8%;
}

#table-submit {
    visibility: hidden;
}

#planif-produits .span-item-sale {
    display: flex;
    justify-content: space-between;
    margin: 2% auto;
    border: 2px solid #000000;
    padding: 1%;
    font-size: 11px;
    color: #ffffffff;
    background: #c9046b;
    font-weight: bold;
}

#planif-produits .button-page {
    padding: 7px;
    font-size: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 5px #999;
    background: #c9046b;
    text-transform: uppercase;
    font-weight: bold;
}

#planif-produits .button-page:active {
    background-color: #aaaaaa;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#planif-produits .planif-produits-comments, .planif-produits-validate {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

#planif-produits .tab_content .label-date {
    width: 14%;
}

#planif-produits .tab_content .tab__content-time {
    display: flex;
    align-items: center;
    width: 50%;
}

#planif-produits .planif-produits-validate {
    margin: 2% auto;
    display: flex;
    justify-content: flex-end;
}

#planif-produits #actor select {
    font-weight: bold;
    font-size: 20px;
    font-family: AppleGothic, sans-serif;
}

/* The alert message box */
.flash-notice {
    text-align: center;
    padding: 9px;
    background-color: #008000;
    color: white;
    margin-right: 105px;
    width: 73%;
    font-size: 13px;
    border: 2px solid rgb(0, 0, 0);
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/*=======================Main Planning Taches et Acteurs==============*/

#mainselected {
    width: 80%;
    margin: 2% auto 10%;
    /*display: block;*/
    height: auto;
}

#mainselected .sectionselected {
    display: flex;
    align-items: center;
}

#mainselected, #selectTask {
    margin: 0 0 14px;
    font-weight: 500;
    font-size: 20px;
    font-family: AppleGothic, sans-serif;
}

#mainselected h2 {
    margin: 6% 5% 7%;
    width: 45%;
}

#mainselected #calendar-holder {
    margin: 5% 10%;
}

/*======================== Saisie Temps ===========*/

#saisi-de-temps table td:last-child {
    height: 60px;
}

#saisi-de-temps td:last-child a {
    border: 2px solid #000000;
    padding: 4% 7%;
    background: red;
    color: #FFFFFF;
    box-shadow: 5px 5px 5px 2px #000000;
}

#saisi-de-temps td:last-child p {
    border: 2px solid #000000;
    padding: 4%;
    box-shadow: 5px 5px 5px 2px #000000;
    color: #FFFFFF;
    width: 100px;
    margin: 0 auto;
    cursor: default;
}

#saisi-de-temps-par-articles .table-2 {
    width: 45%;
    margin: 3% 5%;
}

#saisi-de-temps-par-articles .table-2 input {
    border: 2px solid;
    width: 62%;
    height: 25px;
}

#saisi-de-temps-par-articles #totale {
    border: 2px solid;
    width: 62%;
    height: 29px;
}

#saisi-de-temps-details > form > span {
    display: flex;
    justify-content: flex-end;
}

#saisi-de-temps-details > form > table > tbody > tr > td:nth-child(4) > a > img {
    width: 8%;
}

/*======================Footer=======================*/

footer {
    margin: 5% auto;
    width: 100%;
    font-weight: bold;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer ul li {
    text-transform: uppercase;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

footer ul a {
    color: #c9046b;
}


#planif-produits .tabs li{

}






