{% extends "base.html.twig" %}
{% block body %}
    <main id="mainselected">
        <section class="sectionselected">
            <h2>Consulter le planning par tâches : </h2>
            <select name="" id="selectTask">
                <option value="">Planning menuiserie</option>
                <option value="">Planning dessin</option>
                <option value="">Planning mousse</option>
                <option value="">Planning couture</option>
                <option value="">Planning garnissage</option>
                <option value="">Planning emballage</option>
                <option value="">Planning expédition</option>
            </select>
        </section>
    </main>
{% endblock %}
