{% extends "base.html.twig" %}
{% block body %}
    <main id="mainselected">
        <section class="sectionselected">
            <h2>Consulter le planning par acteurs : </h2>
            <select name="" id="selectTask">
                <option value="">Christian</option>
                <option value="">Laurence</option>
                <option value="">Damien</option>
                <option value="">Omar</option>
                <option value="">Niaki</option>
                <option value="">Thierry</option>
                <option value="">Mohammed</option>
                <option value="">Daye</option>
            </select>
        </section>
    </main>
{% endblock %}