{% extends "base.html.twig" %}
{% block body %}
    <section id="planif-produits">
        <div>
        <h2>Planifier un produit</h2>
        <p>Détail de la </p>

        </div>
    </section>
{% endblock %}